
 Γ¢à∩╕Å wrangler 4.71.0 (update available 4.76.0)
ΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇ
Resource location: remote 

≡ƒîÇ Executing on remote database huyvan-analytics-db (60d0148f-9133-44a8-ad2f-da4d750995f6):
≡ƒîÇ To execute on your local development database, remove the --remote flag from your wrangler command.
≡ƒÜú Executed 1 command in 0.30ms
[
  {
    "results": [
      {
        "sql": "CREATE TABLE _cf_KV (\n        key TEXT PRIMARY KEY,\n        value BLOB\n      ) WITHOUT ROWID"
      },
      {
        "sql": "CREATE TABLE imports (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    file_name TEXT,\r\n    platform TEXT,\r\n    r2_key TEXT,\r\n    import_date DATETIME DEFAULT CURRENT_TIMESTAMP\r\n)"
      },
      {
        "sql": "CREATE TABLE sqlite_sequence(name,seq)"
      },
      {
        "sql": "CREATE TABLE orders (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    order_id TEXT,\r\n    platform TEXT,\r\n    status TEXT, -- success, cancel, refund\r\n    revenue REAL,\r\n    sku TEXT,\r\n    qty INTEGER,\r\n    import_id INTEGER, created_at TEXT, fee REAL DEFAULT 0, profit REAL DEFAULT 0, product_name TEXT DEFAULT '', shop TEXT DEFAULT '', order_type TEXT DEFAULT 'normal', cost_invoice REAL DEFAULT 0, cost_real REAL DEFAULT 0, profit_invoice REAL DEFAULT 0, profit_real REAL DEFAULT 0, tax_flat REAL DEFAULT 0, tax_income REAL DEFAULT 0, cancel_reason TEXT, return_fee REAL DEFAULT 0, raw_revenue REAL DEFAULT 0, order_date TEXT DEFAULT '', fee_platform  REAL DEFAULT 0, fee_payment   REAL DEFAULT 0, fee_affiliate REAL DEFAULT 0, fee_ads       REAL DEFAULT 0, fee_piship    REAL DEFAULT 0, fee_service   REAL DEFAULT 0, fee_packaging REAL DEFAULT 0, fee_operation REAL DEFAULT 0, fee_labor     REAL DEFAULT 0, is_first_sku INTEGER DEFAULT 0, user_id TEXT, shop_id TEXT,\r\n    FOREIGN KEY(import_id) REFERENCES imports(id)\r\n)"
      },
      {
        "sql": "CREATE TABLE products (sku TEXT PRIMARY KEY, product_name TEXT, cost_invoice REAL DEFAULT 0, cost_real REAL DEFAULT 0, is_combo INTEGER DEFAULT 0, combo_items TEXT, combo_qty INTEGER DEFAULT 1, user_id TEXT, shop_id TEXT, image_url TEXT DEFAULT '')"
      },
      {
        "sql": "CREATE TABLE combo_items (id INTEGER PRIMARY KEY AUTOINCREMENT, combo_sku TEXT, component_sku TEXT, quantity INTEGER, FOREIGN KEY(combo_sku) REFERENCES products(sku), FOREIGN KEY(component_sku) REFERENCES products(sku))"
      },
      {
        "sql": "CREATE TABLE sku_mapping (  platform_sku TEXT,  internal_sku TEXT )"
      },
      {
        "sql": "CREATE TABLE sku_alias (  id INTEGER PRIMARY KEY AUTOINCREMENT,  platform_sku TEXT,  internal_sku TEXT )"
      },
      {
        "sql": "CREATE TABLE cost_settings (  id INTEGER PRIMARY KEY AUTOINCREMENT,  cost_key TEXT,  cost_value REAL,  cost_type TEXT , cost_name TEXT DEFAULT '', calc_type TEXT DEFAULT 'per_order', platform  TEXT DEFAULT '', shop      TEXT DEFAULT '', user_id TEXT)"
      },
      {
        "sql": "CREATE TABLE platform_reports (id INTEGER PRIMARY KEY AUTOINCREMENT, platform TEXT NOT NULL, shop TEXT NOT NULL DEFAULT '', report_month TEXT NOT NULL, report_type TEXT NOT NULL DEFAULT 'income', file_name TEXT NOT NULL, r2_key TEXT NOT NULL, uploaded_at TEXT NOT NULL DEFAULT (datetime('now')), gross_revenue REAL DEFAULT 0, refund_amount REAL DEFAULT 0, net_product_revenue REAL DEFAULT 0, platform_subsidy REAL DEFAULT 0, seller_voucher REAL DEFAULT 0, co_funded_voucher REAL DEFAULT 0, shipping_net REAL DEFAULT 0, fee_commission REAL DEFAULT 0, fee_payment REAL DEFAULT 0, fee_service REAL DEFAULT 0, fee_affiliate REAL DEFAULT 0, fee_piship_sfr REAL DEFAULT 0, fee_handling REAL DEFAULT 0, fee_total REAL DEFAULT 0, compensation REAL DEFAULT 0, tax_vat REAL DEFAULT 0, tax_pit REAL DEFAULT 0, tax_total REAL DEFAULT 0, total_payout REAL DEFAULT 0, raw_data TEXT DEFAULT '{}', fee_ads INTEGER DEFAULT 0, user_id TEXT, shop_id TEXT, shipping_return INTEGER DEFAULT 0, shipping_failed INTEGER DEFAULT 0)"
      },
      {
        "sql": "CREATE TABLE purchase_invoices (   id           INTEGER PRIMARY KEY AUTOINCREMENT,   supplier     TEXT,   invoice_no   TEXT UNIQUE,   invoice_date TEXT,   total_amount INTEGER DEFAULT 0,   item_count   INTEGER DEFAULT 0,   r2_key       TEXT,   created_at   TEXT DEFAULT (datetime('now')) , buyer TEXT DEFAULT '', items_json TEXT DEFAULT '[]')"
      },
      {
        "sql": "CREATE TABLE invoice_sku_map (   id            INTEGER PRIMARY KEY AUTOINCREMENT,   invoice_name  TEXT UNIQUE,   sku           TEXT,   created_at    TEXT DEFAULT (datetime('now')) )"
      },
      {
        "sql": "CREATE TABLE sku_groups (   id         INTEGER PRIMARY KEY AUTOINCREMENT,   group_name TEXT UNIQUE,   skus       TEXT DEFAULT '[]',   created_at TEXT DEFAULT (datetime('now')) , user_id TEXT)"
      },
      {
        "sql": "CREATE TABLE orders_v2 (   id            INTEGER PRIMARY KEY AUTOINCREMENT,   order_id      TEXT NOT NULL UNIQUE,   platform      TEXT DEFAULT '',   shop          TEXT DEFAULT '',   order_date    TEXT DEFAULT '',   order_type    TEXT DEFAULT 'normal',   revenue       REAL DEFAULT 0,   raw_revenue   REAL DEFAULT 0,   cost_invoice  REAL DEFAULT 0,   cost_real     REAL DEFAULT 0,   fee           REAL DEFAULT 0,   profit_invoice REAL DEFAULT 0,   profit_real   REAL DEFAULT 0,   tax_flat      REAL DEFAULT 0,   tax_income    REAL DEFAULT 0,   fee_platform  REAL DEFAULT 0,   fee_payment   REAL DEFAULT 0,   fee_affiliate REAL DEFAULT 0,   fee_ads       REAL DEFAULT 0,   fee_piship    REAL DEFAULT 0,   fee_service   REAL DEFAULT 0,   fee_packaging REAL DEFAULT 0,   fee_operation REAL DEFAULT 0,   fee_labor     REAL DEFAULT 0,   cancel_reason TEXT,   return_fee    REAL DEFAULT 0,   shipped       INTEGER DEFAULT 0,   created_at    TEXT DEFAULT (datetime('now')) , discount_shop REAL DEFAULT 0, discount_shopee REAL DEFAULT 0, discount_combo REAL DEFAULT 0, shipping_return_fee REAL DEFAULT 0, shipping_carrier TEXT DEFAULT '', tracking_number TEXT DEFAULT '', oms_status TEXT DEFAULT 'PENDING', customer_name TEXT DEFAULT '', customer_phone TEXT DEFAULT '', net_revenue REAL DEFAULT 0)"
      },
      {
        "sql": "CREATE TABLE order_items (   id           INTEGER PRIMARY KEY AUTOINCREMENT,   order_id     TEXT NOT NULL,   sku          TEXT DEFAULT '',   product_name TEXT DEFAULT '',   qty          INTEGER DEFAULT 1,   revenue_line REAL DEFAULT 0,   cost_real    REAL DEFAULT 0,   cost_invoice REAL DEFAULT 0,   FOREIGN KEY(order_id) REFERENCES orders_v2(order_id) )"
      },
      {
        "sql": "CREATE TABLE jobs (   id INTEGER PRIMARY KEY AUTOINCREMENT,   user_id TEXT,   shop_name TEXT,   platform TEXT,   month INTEGER,   year INTEGER,   status TEXT DEFAULT 'pending',   file_url TEXT,   created_at DATETIME DEFAULT CURRENT_TIMESTAMP , task_type TEXT, r2_file_key TEXT, log_text TEXT, started_at DATETIME, completed_at DATETIME, shop_id TEXT, scheduled_at DATETIME, from_date TEXT, to_date TEXT, payload TEXT)"
      },
      {
        "sql": "CREATE TABLE users (     id TEXT PRIMARY KEY,     username TEXT UNIQUE NOT NULL,     password_hash TEXT NOT NULL,     role TEXT DEFAULT 'user',     license_expire_at DATETIME,     created_at DATETIME DEFAULT CURRENT_TIMESTAMP )"
      },
      {
        "sql": "CREATE TABLE shops (     id TEXT PRIMARY KEY,     user_id TEXT NOT NULL,     platform TEXT NOT NULL,     shop_name TEXT NOT NULL,     status TEXT DEFAULT 'active',     profile_dir TEXT,            download_dir TEXT,         created_at DATETIME DEFAULT CURRENT_TIMESTAMP )"
      },
      {
        "sql": "CREATE TABLE tiktok_order_fees (   order_id        TEXT PRIMARY KEY,   fee_commission  REAL DEFAULT 0,   fee_payment     REAL DEFAULT 0,   fee_service     REAL DEFAULT 0,   fee_affiliate   REAL DEFAULT 0,   fee_piship      REAL DEFAULT 0,   fee_handling    REAL DEFAULT 0,   fee_ads         REAL DEFAULT 0,   tax_vat         REAL DEFAULT 0,   tax_pit         REAL DEFAULT 0,   total_fees      REAL DEFAULT 0,   settlement      REAL DEFAULT 0,   report_month    TEXT DEFAULT '',   created_at      TEXT DEFAULT (datetime('now')) )"
      }
    ],
    "success": true,
    "meta": {
      "served_by": "v3-prod",
      "served_by_region": "APAC",
      "served_by_colo": "SIN",
      "served_by_primary": true,
      "timings": {
        "sql_duration_ms": 0.2968
      },
      "duration": 0.2968,
      "changes": 0,
      "last_row_id": 0,
      "changed_db": false,
      "size_after": 3776512,
      "rows_read": 41,
      "rows_written": 0,
      "total_attempts": 1
    }
  }
]
